body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-image: linear-gradient(45deg, rgb(0, 255, 255), rgb(225, 0, 255));
}
.tela-login{
   background-color: rgba(10, 10, 0, 0.5);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   padding: 40px;
   border-radius: 30px;
   color: white;
}
.login{
    width: 45%;
    margin: auto;
    font-size: 50px;
}
input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 15px;
}
button{
    background-color: rgb(204, 204, 204);
    border: none;
    outline: none;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    font-size: 18px; 
    margin: 0, 15px;
    color:rgb(46, 46, 46);  
}
button:hover{
    background-image: linear-gradient(45deg, rgb(0, 255, 255), rgb(225, 0, 255));
}
h1{
    width: 0px;
    top: 0px;
    left: 10px;
}